Source: psocksxx
Section: libs
Priority: extra
Maintainer: Uditha Atukorala <udi@geniusse.com>
Build-Depends: debhelper (>= 9), autotools-dev, doxygen, libcppunit-dev
Standards-Version: 3.9.4
Homepage: https://github.com/uditha-atukorala/psocksxx

Package: libpsocksxx0
Architecture: any
Provides: libpsocksxx
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ wrapper library for POSIX sockets
 libpsocksxx is a C++ wrapper library for POSIX socket communications
 implemented by extending the STL stream classes (e.g. std::streambuf, std::istream etc.).

Package: libpsocksxx0-dev
Section: libdevel
Architecture: any
Provides: libpsocksxx-dev
Depends: libpsocksxx0 (= ${binary:Version}), ${misc:Depends}
Description: C++ wrapper library for POSIX sockets (development)
 libpsocksxx is a C++ wrapper library for POSIX socket communications
 implemented by extending the STL stream classes (e.g. std::streambuf, std::istream etc.).
 .
 This package contains the development files for psocksxx library.

